@charset "UTF-8";
/*  normalize anim rendering for text

    transform: perspective(1px);
    backface-visibility: hidden;    
    filter: blur(0);
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700,800);
body {
  font-family: "Open Sans";
  min-width: 320px;
  cursor: default;
  min-height: 100%;
  background-color: #fff;
  color: #000;
}

@media (max-width: 800px) {
  .mw_container {
    padding: 28px 5% !important;
  }
}

.mw_container {
  max-width: 1350px;
  padding: 60px;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

/* --- HEADER --- */
.head {
  height: 10vh;
}

.header_content_container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.menu {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  opacity: 0;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.menu_items_links a {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 40px 0 20px 33px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu_items_links a:hover {
  color: #FF6464;
}

.menu_title {
  display: none;
  margin-bottom: 50px;
}

.head_bg img {
  position: absolute;
  top: -170px;
  left: -276px;
  width: 400px;
  -webkit-transition: -webkit-transform 1.6s;
  transition: -webkit-transform 1.6s;
  transition: transform 1.6s;
  transition: transform 1.6s, -webkit-transform 1.6s;
  -webkit-transform: translate(-30px, -10px);
          transform: translate(-30px, -10px);
  z-index: 105;
}

.head_bg img.active_anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }
  .header_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0px 0 0;
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 120;
  }
  .header_burger span {
    position: absolute;
    background-color: #000;
    width: 40px;
    height: 4px;
    right: 5%;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before, .header_burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 40px;
    height: 4px;
    right: 5%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    top: 26px;
  }
  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
    background-color: #000;
  }
  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 13px;
    background-color: #000;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
    background-color: white;
    font-size: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 90px 0 0 0px;
    opacity: 1;
  }
  .menu .menu_items {
    margin-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .menu_items li a {
    display: block;
    margin-top: 40px;
    padding: 0;
    font-size: 37px;
    color: #383838;
  }
  .menu .menu_title {
    display: block;
    font-weight: bold;
    font-size: 40px;
    color: #FF6464;
  }
  .menu.active {
    top: 0;
  }
}

.menu.active_anim {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/* --- MAIN --- */
.h1_text {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
}

.p_text {
  font-size: 16px;
  line-height: 23px;
}

.meeting_wrap {
  min-height: 90vh;
  position: relative;
}

.meeting_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 25%;
}

.meeting_text {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translate(-20px, -20px) scale(1.1) perspective(1px);
          transform: translate(-20px, -20px) scale(1.1) perspective(1px);
  opacity: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.meeting_text h1 {
  margin-bottom: 50px;
}

.meeting_text p {
  margin-bottom: 80px;
}

.meeting_text a {
  padding: 15px 30px;
  background-color: #FF6464;
  color: #fff;
  border: 2px solid #FF6464;
  border-radius: 5px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  max-width: 210px;
  -webkit-box-shadow: 0px 0px 47px -19px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 0px 47px -19px rgba(0, 0, 0, 0.39);
  opacity: 0;
  -webkit-transition: opacity 1.5s 0.7s, background-color 0.3s, color 0.3s;
  transition: opacity 1.5s 0.7s, background-color 0.3s, color 0.3s;
}

.meeting_text a:hover {
  background-color: transparent;
  color: #FF6464;
}

.meeting_avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.meeting_avatar img {
  max-width: 260px;
  max-height: 260px;
  margin-right: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 21px 47px -19px rgba(0, 0, 0, 0.68), -5px 13px 0 0 #bcb1fd44;
          box-shadow: 0px 21px 47px -19px rgba(0, 0, 0, 0.68), -5px 13px 0 0 #bcb1fd44;
}

.meeting_text.active_anim {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}

.meeting_text.active_anim a.active_anim {
  opacity: 1;
}

.meeting_avatar.active_anim {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-height: 670px) {
  .meeting_section {
    position: relative;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .h1_text {
    font-size: 30px;
    line-height: 40px;
  }
  .main_wrap {
    padding: 30px;
  }
  .meeting_wrap {
    min-height: 100%;
  }
  .meeting_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    position: relative;
  }
  .meeting_avatar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .meeting_avatar img {
    margin-bottom: 60px;
    margin-right: 0px;
  }
  .meeting_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .meeting_text h1 {
    margin-bottom: 30px;
  }
  .meeting_text p {
    margin-bottom: 45px;
  }
  .meeting_text a {
    margin: 0 auto;
  }
  .menu_items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_items li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    text-align: center;
  }
  .menu_items li a {
    padding: 0 10px;
  }
  .meeting_avatar img {
    max-width: 220px;
    max-height: 220px;
  }
  .meeting_wrap.mw_container {
    padding: 9px 5% !important;
  }
}

/* BLOG SECTION */
.recent_posts_wrap {
  background-color: #f2f0fcc4;
}

.recent_posts_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  padding: 0 5px;
  -webkit-transition: opacity 2s 0.6s;
  transition: opacity 2s 0.6s;
  opacity: 0;
}

.recent_posts_header p {
  font-weight: 600;
  font-size: 22px;
  line-height: 60px;
}

.recent_posts_header a {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.recent_posts_header a:hover {
  color: #007d99;
}

.recent_posts_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -23px;
}

.recent_post_item {
  padding: 30px 25px;
  margin: 0 16px;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s, -webkit-box-shadow 0.3s;
  transition: opacity 1s, -webkit-transform 1s, -webkit-box-shadow 0.3s;
  transition: opacity 1s, transform 1s, box-shadow 0.3s;
  transition: opacity 1s, transform 1s, box-shadow 0.3s, -webkit-transform 1s, -webkit-box-shadow 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.recent_post_item:hover {
  -webkit-box-shadow: 0px 0px 50px -5px rgba(130, 167, 255, 0.3);
          box-shadow: 0px 0px 50px -5px rgba(130, 167, 255, 0.3);
  cursor: pointer;
  -webkit-transform: translate(0, -5px) !important;
          transform: translate(0, -5px) !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.recent_post_title a {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
  -webkit-transition: color .2s;
  transition: color .2s;
  display: inline-block;
  margin-bottom: 20px;
}

.recent_post_title a:hover {
  color: #FF6464;
}

.recent_post_info {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.recent_post_text {
  font-size: 16px;
  line-height: 23px;
}

.recent_posts_header.active_anim {
  opacity: 1;
}

.left_recent_post {
  -webkit-transform: translate(-30px, 10px) scale(1.05) perspective(1px);
          transform: translate(-30px, 10px) scale(1.05) perspective(1px);
}

.right_recent_post {
  -webkit-transform: translate(30px, 10px) scale(1.05) perspective(1px);
          transform: translate(30px, 10px) scale(1.05) perspective(1px);
}

.left_recent_post.active_anim, .right_recent_post.active_anim {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}

@media (max-width: 800px) {
  .recent_posts_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent_post_item {
    margin-bottom: 30px;
  }
  .recent_post_item:last-child {
    margin-bottom: 0px;
  }
  .recent_post_item:hover {
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .recent_posts_section {
    margin-top: 70px;
    padding-bottom: 40px !important;
  }
  .recent_posts_header p {
    font-size: 18px;
  }
  .recent_posts_header a {
    font-size: 16px;
  }
  .recent_post_title a {
    font-size: 22px;
  }
  .recent_post_info {
    font-size: 16px;
  }
  .my_works_title {
    margin-bottom: 15px !important;
  }
}

/* My Works Section */
.my_works_wrap {
  position: relative;
  overflow: hidden;
}

.my_works_wrap_img_1 {
  max-width: 300px;
  position: absolute;
  top: 300px;
  left: -300px;
  -webkit-transition: left 2s 0.15s;
  transition: left 2s 0.15s;
  -webkit-transform: rotate(-232deg);
          transform: rotate(-232deg);
  opacity: 0.4;
}

.my_works_wrap_img_1.active_anim {
  left: -119px;
}

.my_works_wrap_img_2 {
  max-width: 350px;
  position: absolute;
  right: -300px;
  -webkit-transition: right 2s 0.15s;
  transition: right 2s 0.15s;
  top: 560px;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  opacity: 0.4;
}

.my_works_wrap_img_2.active_anim {
  right: -145px;
}

.my_works_title {
  padding: 0 5px;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
  font-weight: 600;
  margin-bottom: 30px;
}

.work_item_img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.work_item_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
}

.work_item_img:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
}

.work_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

.work_item:last-child {
  margin-bottom: 0px;
}

.work_item:last-child:after {
  display: none;
}

.work_item:after {
  content: '';
  position: absolute;
  bottom: -12%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.035;
}

.work_item_text {
  padding: 0px 0 0 50px;
}

.work_item_text_title a {
  font-size: 26px;
  line-height: 44px;
  color: #21243D;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.work_item_text_title a:hover {
  color: #FF6464;
  cursor: pointer;
}

.work_item_text_year {
  opacity: 0.7;
  font-weight: 500;
  font-size: 17px;
  padding: 5px 10px 8px 10px;
  border-radius: 30px;
  background-color: #142850;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}

.work_item_text_sub_title {
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
}

.work_else a {
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
  -webkit-transition: color .2s;
  transition: color .2s;
  padding-left: 5px;
  opacity: 0;
  -webkit-transition: opacity 1s 0.2s, color .2s 0s;
  transition: opacity 1s 0.2s, color .2s 0s;
}

.work_else a:hover {
  color: #007d99;
}

.work_item_left_anim {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  opacity: 0;
  -webkit-transform: translate(-5%, 0) scale(1.04) perspective(1px);
          transform: translate(-5%, 0) scale(1.04) perspective(1px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.work_item_right_anim {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  opacity: 0;
  -webkit-transform: translate(5%, 0) scale(1.04) perspective(1px);
          transform: translate(5%, 0) scale(1.04) perspective(1px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.work_item_left_anim.active_anim, .work_item_right_anim.active_anim {
  opacity: 1;
  -webkit-transform: translate(0px, 0) scale(1) perspective(1px);
          transform: translate(0px, 0) scale(1) perspective(1px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.work_else.active_anim a {
  opacity: 0.9;
}

@media (max-width: 1000px) {
  .work_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work_item:after {
    bottom: -3%;
  }
  .work_item_text {
    padding: 0px 0 0 0px;
    margin: 30px 0 15px 0;
  }
  .work_item_img {
    max-height: 270px;
    padding-bottom: 55%;
    margin-bottom: 35px;
  }
  .work_item_img img {
    -o-object-position: left top;
       object-position: left top;
  }
  .footer_section.mw_container {
    padding-bottom: 20px !important;
  }
  .footer_section a {
    margin-bottom: 7px !important;
  }
  .footer_section {
    font-size: 16px !important;
  }
  .work_item_text_title a {
    font-size: 23px;
    line-height: 35px;
  }
}

.footer_wrap {
  background-color: #f2f0fcc4;
  overflow: hidden;
}

.footer_section.mw_container {
  padding-bottom: 40px;
}

.footer_section {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
  -webkit-transition: 1s;
  transition: 1s;
}

.footer_section a {
  font-weight: 400;
  color: #3E3E7A;
  -webkit-transition: color .4s;
  transition: color .4s;
  margin-bottom: 15px;
  display: inline-block;
  opacity: 0.9;
}

.footer_section a:hover {
  color: #7676EA;
}

.footer_section span {
  opacity: 0.5;
  padding-left: 5px;
  color: #000;
}

.footer_section.active_anim {
  opacity: 0.8;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@-webkit-keyframes footer_anim {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes footer_anim {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  overflow: hidden;
  font-weight: bold;
}

.contpre small {
  font-size: 25px;
  font-weight: normal;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #000;
  font-size: 40px;
  text-align: center;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url("../img/oval.svg") center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

#up_button {
  background-color: rgba(59, 59, 59, 0.8);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: inline-block;
}

.up_arrow {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  margin: 19px auto;
}

#up_button:hover {
  cursor: pointer;
  background-color: #333;
}

#up_button:active {
  background-color: #555;
}

#up_button.show {
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 800px) {
  #up_button {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    bottom: 17px;
    right: 17px;
  }
}

::-webkit-scrollbar {
  /* - скроллбар */
  width: 10px;
  height: 3px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  /* - ползунок */
  border-radius: 5px;
  background-color: #B8B8B8;
}
/*# sourceMappingURL=styles.css.map */